* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-image: url('http://wallpoper.com/images/00/38/25/50/mario-super_00382550.png');
}

.container {
    margin-left: -0.7vw;
}
